#################################################### DOLORES

export DOLORES_BASEDIR=$(pwd)

export DOLORES_ADMINS="sudo@maildomain.com admin@maildomain.com"

export PATH="${PATH}:${DOLORES_BASEDIR}/drives-exec"

##################################################### MEMORIES

export DOLORES_SHELL_OUTPUT_DIR="${DOLORES_BASEDIR}/.memories.shell"

##################################################### SLACK


##################################################### REPLY MESSAGES

export DOLORES_WRONG_CMD_REPLY="What do you mean by that?
  Try 'help' for how-to.
  If you think your command was correct, talk to systems team about the issue."

export ACCESS_REPLY_DEFER="sure, let me check if it's allowed as of now :)"

export SSH_ACCESS_PUBLIC_KEY_SOURCE="https://users.company.dom/profile/TMP_SSH_USERNAME/key https://github.com/TMP_SSH_USERNAME.keys"

##################################################### DATABASE READONLY ACCESS

export DATABASE_READONLY_ACCESS_ADMINS="dbadmin@maildomain.com pm@maildomain.com techleads@maildomain.com"

export DATABASE_READONLY_WHITELIST_DBS="myapp yourapp ourapp"

## for requests like 'give db access to blaah for myapp in staging'
export DATABASE_READONLY_MYAPP_STAGING_MASTER_SSH_USER="suser"
export DATABASE_READONLY_MYAPP_STAGING_MASTER="myapp-staging-dbmaster"
export DATABASE_READONLY_MYAPP_STAGING_SLAVE="myapp-staging-dbslave"
export DATABASE_READONLY_MYAPP_STAGING_DBNAME="myapp_db"

## for requests like 'give db access to blaah for myapp in production'
export DATABASE_READONLY_MYAPP_PRODUCTION_MASTER_SSH_USER="suser"
export DATABASE_READONLY_MYAPP_PRODUCTION_MASTER="myapp-production-dbmaster"
export DATABASE_READONLY_MYAPP_PRODUCTION_SLAVE="myapp-production-dbslave"
export DATABASE_READONLY_MYAPP_PRODUCTION_DBNAME="myapp_db"

## for requests like 'give db access to blaah for yourapp in staging'
export DATABASE_READONLY_YOURAPP_STAGING_MASTER_SSH_USER="suser"
export DATABASE_READONLY_YOURAPP_STAGING_MASTER="yapp-staging-dbmaster"
export DATABASE_READONLY_YOURAPP_STAGING_SLAVE="yapp-staging-dbslave"
export DATABASE_READONLY_YOURAPP_STAGING_DBNAME="yapp_db"

## for requests like 'give db access to blaah for ourapp in staging'
export DATABASE_READONLY_OURAPP_STAGING_MASTER_SSH_USER="suser"
export DATABASE_READONLY_OURAPP_STAGING_MASTER="oapp-staging-dbmaster"
export DATABASE_READONLY_OURAPP_STAGING_SLAVE="oapp-staging-dbslave"
export DATABASE_READONLY_OURAPP_STAGING_DBNAME="oapp_db"

#############################################################################
