export GCLOUD_SSH_ACCESS_LOG_FILE=/tmp/testInputs
export GCLOUD_INTERNAL_ENVIRONMENT=gcil-project
export GCLOUD_DEV_ENVIRONMENT=gcil-141211
export GCLOUD_STAGING_ENVIRONMENT=gcil-904
export GCLOUD_INTEGRATION_ENVIRONMENT=gcil-007
export GCLOUD_UAT_ENVIRONMENT=gcil-uat
export GCLOUD_PERF_ENVIRONMENT=gcil-141211
export GCLOUD_PROD_ENVIRONMENT=gcil-904
export GCLOUD_DEFAULT_ENVIRONMENT=gcil-141211
export GCLOUD_SUPERADMINS="admin@example.com"

export GCLOUD_COMMON_SSH_USER=ubuntu
export GCLOUD_ORGANIZATION_USER=ubuntu
export SSH_ACCESS_PUBLIC_KEY_SOURCE="https://internal-wiki.my.org/profile/TMP_SSH_USERNAME/key https://gitlab.my.org/TMP_SSH_USERNAME.keys"
